public/.user.ini
/.fleet
/.idea
/.vscode
/.custom-rules
/.devcontainer
/vendor/
/node_modules/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.env
.env.production
.env.backup
.env.*.backup
.phpunit.result.cache
/phpunit.xml
auth.json
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
npm-debug.log
yarn-error.log
yarn-debug.log*
.pnpm-debug.log
temp_auto_push.bat
temp_interactive_push.bat
branch_structure.json
